<p style="color: green"><%= notice %></p>

<h1>Holidays</h1>

<%= form_tag bulk_update_holidays_path, multipart: true do %>
  <%= submit_tag "今年と来年の祝日データを一括更新" %>
<% end %>

<div id="holidays">
  <% @holidays.each do |holiday| %>
    <%= render holiday %>
    <p>
      <%= link_to "Show this holiday", holiday %>
    </p>
  <% end %>
</div>

<%= link_to "New holiday", new_holiday_path %>
