<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% elsif alert.present? %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
  <% end %>

  <div class ="flex justify-between mb-8">
    <div>
      <h1 class="text-2xl font-sans">離乳食スケジューラ</h1>
    </div>
    <div>
      <button class="shadow-lg bg-cyan-500 shadow-cyan-500/50 hover:bg-cyan-400 text-white rounded px-4 py-2">
        <%= link_to "テンプレート", meals_path %>
      </button>
      <button class="shadow-lg bg-cyan-500 shadow-cyan-500/50 hover:bg-cyan-400 text-white rounded px-4 py-2">
        <%= link_to "カスタム休日", custom_holidays_path %>
      </button>
    </div>
  </div>

  <div class ="flex justify-between mb-8">
    <div>
      <h2 class="text-xl font-sans">スケジュール</h2>
    </div>
    <div>
      <button class="shadow-lg bg-sky-500 shadow-sky-500/50 hover:bg-sky-400 text-white rounded px-4 py-2">
        <%= link_to "New", new_schedule_path %>
      </button>
    </div>
  </div>

  <div class="mb-8">
    <%= form_tag recalculate_schedules_path, multipart: true do %>
      <div class="flex justify-left">
        <div>
          mealsのday<%= number_field_tag :day, min: 1 %>を<%= date_field_tag :start_date, class: "rounded px-4 py-2" %>に合わせる
        </div>
        <button class="shadow-lg bg-sky-500 shadow-sky-500/50 hover:bg-sky-400 text-white rounded px-4 py-2">
          <%= submit_tag "再計算" %>
        </button>
      </div>
    <% end %>
  </div>

  <div id="meals" class="w-full">
    <div class="mb-8">
      <%= form_tag meals_path, method: :get do %>
        from<%= date_field_tag :from, @from %>
        to<%= date_field_tag :to, @to %>
        <button class="shadow-lg bg-sky-500 shadow-sky-500/50 hover:bg-sky-400 text-white rounded px-4 py-2">
          <%= submit_tag "Search" %>
        </button>
      <% end %>
    </div>

    <div class="shadow-lg border rounded px-6 py-4 mb-2">
      <div>
        <h3 class="text-lg font-sans">この期間に必要な食材</h3>
      </div>
      <table class="table-auto border">
        <thead>
          <tr>
            <th class="border px-4 py-2">食材</th>
            <th class="border px-4 py-2">量</th>
          </tr>
        </thead>
        <tbody>
          <%= @foods.each do |food| %>
            <tr>
              <td class="border px-4 py-2"><%= "#{food[0]}" %></td>
              <td class="border px-4 py-2"><%= "#{food[1].join(', ')}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% @meals.each do |meal| %>
      <div class="shadow-lg border rounded px-6 py-4 mb-2">
        <%= render meal %>
        <button class="shadow-sm bg-white-500 shadow-sky-500/50 hover:bg-sky-100 text-sky-600 border border-sky-600 rounded px-4 py-2">
          <%= link_to "Show this meal", meal %>
        </button>
      </div>
    <% end %>
  </div>
</div>
