<%= form_with(model: custom_holiday) do |form| %>
  <% if custom_holiday.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(custom_holiday.errors.count, "error") %> prohibited this custom_holiday from being saved:</h2>

      <ul>
        <% custom_holiday.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date, class: "shadow appearance-none border rounded py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, class: "shadow appearance-none border rounded py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div>
    <button class="shadow-lg bg-sky-500 shadow-sky-500/50 hover:bg-sky-400 text-white rounded px-4 py-2">
      <%= form.submit %>
    </button>
  </div>
<% end %>
