<p style="color: green"><%= notice %></p>

<div class ="flex justify-between mb-8">
  <div>
    <h1 class="text-2xl font-sans">離乳食スケジューラ</h1>
  </div>
  <div>
    <button class="shadow-lg bg-cyan-500 shadow-cyan-500/50 hover:bg-cyan-400 text-white rounded px-4 py-2">
      <%= link_to "スケジュールへ", meals_path %>
    </button>
  </div>
</div>

<div class ="flex justify-between mb-8">
  <div>
    <h2 class="text-xl font-sans">カスタム休日</h2>
  </div>
  <div>
    <button class="shadow-lg bg-sky-500 shadow-sky-500/50 hover:bg-sky-400 text-white rounded px-4 py-2">
      <%= link_to "New", new_custom_holiday_path %>
    </button>
  </div>
</div>

<div id="custom_holidays">
  <% @custom_holidays.each do |custom_holiday| %>
    <div class="shadow-lg border rounded px-6 py-4">
      <%= render custom_holiday %>
      <button class="shadow-sm bg-white-500 shadow-sky-500/50 hover:bg-sky-100 text-sky-600 border border-sky-600 rounded px-4 py-2">
        <%= link_to "Show this custom holiday", custom_holiday %>
      </button>
    </div>
  <% end %>
</div>
