<p style="color: green"><%= notice %></p>

<div class ="flex justify-between mb-8">
  <div>
    <h1 class="text-2xl font-sans">離乳食スケジューラ</h1>
  </div>
  <div>
    <button class="shadow-lg bg-sky-500 shadow-sky-500/50 hover:bg-sky-400 text-white rounded px-4 py-2">
      <%= link_to "スケジュールへ", meals_path %>
    </button>
    <button class="shadow-lg bg-sky-500 shadow-sky-500/50 hover:bg-sky-400 text-white rounded px-4 py-2">
      <%= link_to "New", new_custom_holiday_path %>
    </button>
  </div>
</div>

<h2 class="text-xl font-sans">カスタム休日</h2>

<div id="custom_holidays">
  <% @custom_holidays.each do |custom_holiday| %>
    <%= render custom_holiday %>
    <p>
      <%= link_to "Show this custom holiday", custom_holiday %>
    </p>
  <% end %>
</div>
