<div id="<%= dom_id meal %>">
  <p>
    <strong>Day:</strong>
    <%= meal.day %>
  </p>

  <p>
    <strong>回食:</strong>
    <%= meal.ordinal_number %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= meal.date %>
  </p>

  <p>
    <strong>食材:</strong>
    <%= meal.meal_foods.map { |mf| "#{mf.food.name}#{mf.amount}" }.join(' ') %>
  </p>

  <p>
    <strong>初めて食べる食材がある:</strong>
    <%= meal.meal_foods.inject(false) { |result, mf| result && mf.debut } %>
  </p>

</div>
