<p style="color: green"><%= notice %></p>

<div class ="flex justify-between mb-8">
  <div>
    <h2 class="text-xl font-sans">テンプレート</h2>
  </div>
  <div>
    <button data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="shadow-lg bg-red-500 shadow-red-500/50 hover:bg-red-400 text-white rounded px-4 py-2" type="button">
      インポート
    </button>
  </div>
</div>

<!-- Recalculate modal -->
<div id="defaultModal" tabindex="-1" aria-hidden="true" class="flex justify-center drop-shadow-2xl fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
  <div class="relative w-full h-full max-w-4xl md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">
      <!-- Modal header -->
      <div class="flex items-start justify-between p-4 border-b rounded-t">
        <h3 class="text-xl font-semibold text-gray-900">
          スケジュールテンプレートのインポート
        </h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="defaultModal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <p class="text-base leading-relaxed text-gray-500">
          CSVからテンプレートをインポートします。
        </p>
        <p class="text-base leading-relaxed text-gray-500">
          登録されているテンプレート・スケジュールは全て削除されます。
        </p>
        <p class="text-base leading-relaxed text-gray-500">
          テンプレートのインポート完了後、「開始日」に指定した日付を始点にスケジュールが自動で設定されます。
        </p>
      </div>
      <!-- Modal footer -->
      <%= form_tag import_meals_path, multipart: true do %>
        <div class="md:flex justify-between p-6 space-x-2 border-t border-gray-200 rounded-b">
          <div class="flex justify-left items-center">
            <%= file_field_tag :file, class: "block text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded file:border-0 file:text-sm file:font-semibold file:bg-sky-50 file:text-sky-700 hover:file:bg-sky-100" %>
            <span>開始日</span>
            <%= date_field_tag :start_date, Date.today, class: "shadow appearance-none border rounded py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
          </div>
          <button class="shadow-lg bg-red-500 shadow-red-500/50 hover:bg-red-400 text-white rounded px-4 py-2">
            <%= submit_tag "実行", class: "cursor-pointer" %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="meals" class="w-full">
  <% @meals.each do |meal| %>
    <div class="shadow-lg border rounded px-6 py-4 mb-2">
      <%= render meal %>
      <button class="shadow-sm bg-white-500 shadow-sky-500/50 hover:bg-sky-100 text-sky-600 border border-sky-600 rounded px-4 py-2">
        <%= link_to "Show this meal", meal %>
      </button>
    </div>
  <% end %>
</div>
