<p style="color: green"><%= notice %></p>

<div class ="flex justify-between mb-8">
  <div>
    <h1 class="text-2xl font-sans">離乳食スケジューラ</h1>
  </div>
  <div>
    <button class="shadow-lg bg-cyan-500 shadow-cyan-500/50 hover:bg-cyan-400 text-white rounded px-4 py-2">
      <%= link_to "カスタム休日へ", custom_holidays_path %>
    </button>
  </div>
</div>

<h2 class="text-xl font-sans">スケジュールテンプレートのインポート</h2>

<div class="mb-12">
  <%= form_tag import_meals_path, multipart: true do %>
    <%= file_field_tag :file, class: "block text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded file:border-0 file:text-sm file:font-semibold file:bg-sky-50 file:text-sky-700 hover:file:bg-sky-100" %>
    開始日
    <%= date_field_tag :start_date, class: "rounded px-4 py-2" %>
    <%= submit_tag "CSVからスケジュールを登録" %>
  <% end %>

  <button class="shadow-lg bg-sky-500 shadow-sky-500/50 hover:bg-sky-400 text-white rounded px-4 py-2">
    <%= link_to "期間を指定して必要な食材を集計", action: "sum_foods" %>
  </button>
</div>

<div class ="flex justify-between mb-8">
  <div>
    <h2 class="text-xl font-sans">スケジュール</h2>
  </div>
  <div>
    <button class="shadow-lg bg-sky-500 shadow-sky-500/50 hover:bg-sky-400 text-white rounded px-4 py-2">
      <%= link_to "New", new_meal_path %>
    </button>
  </div>
</div>

<div id="meals" class="w-full">
  <% @meals.each do |meal| %>
    <div class="shadow-lg border rounded px-6 py-4">
      <%= render meal %>
      <button class="shadow-sm bg-white-500 shadow-sky-500/50 hover:bg-sky-100 text-sky-600 border border-sky-600 rounded px-4 py-2">
        <%= link_to "Show this meal", meal %>
      </button>
    </div>
  <% end %>
</div>
