<h1>食材集計</h1>

<%= form_tag sum_foods_meals_path, method: :get do %>
  from<%= date_field_tag :from, @from %>
  to<%= date_field_tag :to, @to %>
  <%= submit_tag "対象期間に必要な食材を集計" %>
<% end %>

<div>
  <%= @foods.each do |food| %>
    <div>
      <%= "#{food[0]}：#{food[1].join(', ')}" %>
    </div>
  <% end %>
</div>

<div>
  <% @meals.each do |meal| %>
    <%= render meal %>
  <% end %>
</div>